[submodule "externals/cli"]
	path = externals/cli
	url = https://github.com/cameraui/cli.git
[submodule "externals/sdk"]
	path = externals/sdk
	url = https://github.com/cameraui/sdk.git
[submodule "externals/onvif"]
	path = externals/onvif
	url = https://github.com/seydx/onvif
[submodule "externals/ring"]
	path = externals/ring
	url = https://github.com/seydx/ring.git
[submodule "externals/hap"]
	path = externals/hap
	url = https://github.com/seydx/HAP-NodeJS.git
