[submodule "externals/onvif"]
	path = externals/onvif
	url = https://github.com/seydx/onvif
[submodule "externals/ring"]
	path = externals/ring
	url = https://github.com/seydx/ring.git
[submodule "externals/hap"]
	path = externals/hap
	url = https://github.com/seydx/HAP-NodeJS.git
[submodule "externals/eufy-security-client"]
	path = externals/eufy-security-client
	url = https://github.com/seydx/eufy-security-client.git
[submodule "externals/reolinkproxy"]
	path = externals/reolinkproxy
	url = https://github.com/seydx/reolinkproxy.git
