# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
bundle
coverage
*.local
test
__pycache__
.dockerignore
python-*
requirements.dev.txt
requirements-lock.txt

.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.egg-info
.venv
.mypy_cache