.editorconfig
.eslintignore
.eslintrc.*
eslint.config.*
.gitignore
.npmignore
.prettierignore
.prettierrc.*
tsconfig.json
updates.config.*
cameraui.config.*
ruff.toml

node_modules
.github
.vscode


src
